.credits-container {
    width: 100%;
    height: 370px;
    background-color: #424752;
    border-radius: 0.5rem;
    margin-top: 5rem;
    overflow: hidden;

    .technology-stack {
        animation: credits-scroll 60s linear infinite;
        transition: transform 0.3s;

        .credits-headline {
            font-size: 1.5rem;
            margin: 0;
            margin-bottom: 2rem;
        }

        .technology-container {
            p {
                font-weight: bold;
            }

            a {
                color: #61dafb;
            }
        }

        .authors-container {
            margin: 0;
            margin-top: 8rem;
            padding: 0;

            h2 {
                margin: 0;
                margin-top: 3.5rem;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                img {
                    animation: App-logo-spin 10s linear infinite;
                }
            }

            h3 {
                margin: 0;
            }

            p {
                margin: 0;
                margin-top: 0.5rem;
            }
        }
    }

    @keyframes credits-scroll {
        0% {
            transform: translateY(400px);
        }

        90% {
            transform: translateY(-960px);
        }

        100% {
            transform: translateY(-960px);
        }
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
