footer {
    height: 80px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;

    p {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        animation: React-logo-spin infinite 10s linear;
    }
}

@keyframes React-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
