.slide {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    max-width: 720px;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-color: #424752;
    height: 32rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.8);
    border-radius: 0.8rem;
    padding: 2rem 0;

    .meme-title {
        font-size: 1.5rem;
        margin: 0;
    }

    .author-text {
        font-size: 0.8rem;
    }

    .nsfw-marker {
        background-color: rgb(187, 8, 8);
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }

    .source-link {
        margin-top: 1rem;
        color: #61dafb;
    }
}

.meme-image {
    width: 80%;
    height: 50vh;
    border-radius: 0.8rem;
}
